<form action="/board/write" method="post" enctype="multipart/form-data">
  <table border="1">
    <!-- 중략 -->
    <tr>
      <td>이미지</td>
      <td><input type="file" name="image" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit">글쓰기</button>
      </td>
    </tr>
  </table>
</form>